.wd-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 125px;
    margin: 0px;
    margin-left: 20px;
  }
  .wd-navigation li {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .wd-navigation li.wd-active {
    border-left: 2px solid black;
  }
  .wd-navigation li.wd-active a {
    color: black;
  }
  .wd-navigation a {
    color: red;
    text-decoration: none;
  }

  .button-lines-black-white {
    border-style: none;
    background-color: none;
    color: white;
    padding: 8px 10px;
  }

  .button-background {
    background:black;
    color:white;
    height:20px;
    border-color: red;
  }

  .wd-navigation-list {
    color:red;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }
  